.columns .columns-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-xl);
}

main .section .columns h2 {
  margin-bottom: var(--space-xl);
}

.columns p {
  color: var(--color-gray-500);
  font-size: var(--text-lg);
  line-height: var(--leading-normal);
}

.columns picture {
  display: block;
}

.columns img {
  width: 100%;
  height: 360px;
  border-radius: var(--radius-card);
  object-fit: cover;
}

@media (width <= 768px) {
  .columns .columns-row {
    grid-template-columns: 1fr;
  }
}
